{{ partial "header.html" . }}

<!-- Main Wrapper -->
<div class="wrapper grey-background">
    <div class="container">
        <div class="section">
            {{ range (where .Data.Pages "Section" "honden" ).GroupBy "Section" }}
            <h3>{{ title .Key }}</h3>
            <div class="row">
                {{ range .Pages }}
                    {{ partial "animal-card.html" . }}
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="section">
            {{ range (where .Data.Pages "Section" "katten" ).GroupBy "Section" }}
            <h3>{{ .Key }}</h3>

            <div class="row">

                {{ range .Pages }}
                {{ partial "animal-card.html" . }}
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="section">
            {{ range (where .Data.Pages "Section" "konijnen" ).GroupBy "Section" }}
            <h3>{{ .Key }}</h3>
            <ul>
                {{ range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>

                    <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="section">
            {{ range (where .Data.Pages "Section" "andere" ).GroupBy "Section" }}
            <h3>{{ .Key }}</h3>
            <ul>
                {{ range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>

                    <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>


{{ partial "footer.html" . }}