<div class="col l3 m6 s3">
    <!-- Profile Box -->
    <div class="profile-box z-depth-1">
        <!-- Profile Image -->
        <img alt="Profile" src="{{ .Params.photo }}" class="responsive-img">
        <!-- Profile Detail -->
        <div class="profile-detail">
            <!-- Profile Name -->
            <div class="profiler-name"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
            <!-- Profile By -->
            <div class="profile-by">{{ .Params.breed }}</div>
        </div>
    </div>
</div>